img{
    border-radius: 4px;
    width: 300px;
    height: auto;
    border: 1px solid #ddd;
    padding: 5px;
}

img::shadow{
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

img.thumbnail {
    border-radius: 4px;
    width: 300px;
    height: auto;
    border: 1px solid #ddd;
    padding: 5px;
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5); /* Thumbnail styling */
}

img.thumbnail:hover {
    transform: scale(1.3); /* Creates a zoom effect on hover */
    transition: transform 0.3s ease; /* Smooth animation for hover effect */
}
